@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply rounded p-1 block w-full;
  border: 1px solid gray;
}
button {
  @apply bg-blue-600 rounded py-2 px-5 block w-full border-blue-800 border-2 text-white;
}
label {
  @apply mb-5 block;
}
